<% include ../partials/header %>
<div class = "container margin-top">
    <div class = "row"> 
        <div class="col-sm-12 col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active"><a herf="#">Info 1</a></li>
                <li class="list-group-item"><a herf="#">Info 2</a></li>
                <li class="list-group-item"><a herf="#">Info 3</a></li>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="img-thumbnail">
                <img src = "<%= campgrounds.image %>" class = "img img-fluid">
                <div class="caption">
                    <h4 class="float-right">$9.00/night</h4>
                    <h4><a herf="#"><%= campgrounds.place %></a></h4>
                    <p>
                        <em>Submitted by <%= campgrounds.user.username %></em>
                    </p>
                    <p>
                        <%= campgrounds.description %>
                    </p>
                    <P>
                        <% if(currentUser && campgrounds.user.id.equals(currentUser._id)) {%>
                            <form class="display-inline" action="/campgrounds/delete/<%= campgrounds._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                            <a href="edit/<%= campgrounds._id %>" class="btn btn-sm btn-warning">Edit</a>
                        <% } %>
                    </P>
                </div>
            </div>
            <p></p>
            <div class="well">
                <div class="text-right">
                    <a href="/campgrounds/<%= campgrounds._id %>/comments/new" class="btn btn-success text-right">Add new comment</a>  
                </div>
                <hr>
                <h3>Comments</h3>
                <% campgrounds.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <strong><%= comment.name.username %></strong>
                            <span class="float-right">
                                10 days ago<br>
                                <% if(currentUser && comment.name.id.equals(currentUser._id)) { %>
                                    <form class="display-inline" action="/campgrounds/<%= campgrounds._id %>/comments/delete/<%= comment._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <a href="/campgrounds/<%= campgrounds._id %>/comments/edit/<%= comment._id %>" class="btn btn-sm btn-warning">Edit</a>
                                <% } %>
                            </span>
                            <p><%= comment.text %></p>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>